.btn {
  background: #eee;
  color: #000;
  margin: 10px 5px 5px;
  padding: 2px 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.5s;
}

.delete-entry-btn {
  padding: 1px;
}

.incomes-delete-btn {
  background: #eee;
  transition: 0.5s;
  border: none;
}

.incomes-delete-btn:hover {
  background: #ccc;
}

.expenses-delete-btn {
  background: #333;
  color: #eee;
  border: none;
  transition: 0.5s;
}

.expenses-delete-btn:hover {
  background: #555;
}

.btn-light {
  background: #eee;
  transition: 0.5s;
  border: none;
}

.btn-light:hover {
  background: #ccc;
}

.btn-dark {
  background: #333;
  transition: 0.5s;
  border: none;
}

.btn-dark:hover {
  background: #111;
}

.btn:hover {
  background: #ccc;
}

.btn-confirm {
  background: rgb(83, 207, 83);
}

.btn-confirm:hover {
  background: rgb(111, 238, 111);
}
