.btn {
  background: #eee;
  color: #000;
  margin: 10px 5px 5px;
  padding: 2px 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.5s ease-in-out;
}

/* btn font sizes */
.btn-sz-sm {
  font-size: 1rem;
  width: 6rem;
  height: 1.8rem;
}

.delete-entry-btn {
  padding: 1px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.incomes-delete-btn,
.expenses-delete-btn {
  background: #eee;
  transition: 0.5s ease-in-out;
  border: none;
}

.incomes-delete-btn:hover {
  background: var(--expenses-color);
}

.expenses-delete-btn:hover {
  background: var(--expenses-color);
}

.btn-light {
  background: #eee;
  transition: 0.5s;
  border: none;
}

.btn-light:hover {
  background: #ccc;
}

.btn-dark {
  background: #333;
  transition: 0.5s;
  border: none;
}

.btn-dark:hover {
  background: #111;
}

.btn:hover {
  background: #ccc;
}

.btn-confirm {
  background: #333;
  border: 2px solid rgb(83, 207, 83);
  color: #eee;
  font-weight: bold;
  padding: 3px;
}

.btn-confirm:hover {
  background: rgb(83, 207, 83);
}

.btn-cancel {
  background: #333;
  border: 2px solid #eee;
  font-weight: bold;
  color: #eee;
}

.btn-cancel:hover {
  background: #eee;
  color: #222;
}
